.u-section-1 .u-sheet-1 {
  min-height: 58px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  letter-spacing: -3px;
  line-height: 1.2;
  margin: 1px auto;
}.u-section-2 {
  background-image: url("images/coll23advert.png");
  background-position: 50% 50%;
  background-size: 150%;
}

.u-section-2 .u-sheet-1 {
  min-height: 259px;
}

.u-section-2 .u-text-1 {
  margin: 77px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 28px auto 54px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 164px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 123px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 77px;
  }
}.u-section-3 {
  background-image: url("images/coll23advert1.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 359px;
}

.u-section-3 .u-text-1 {
  margin: 99px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 42px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.45), rgba(255,255,255,0.45)), url("images/2021-08-31150631.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 299px;
}

.u-section-4 .u-text-1 {
  margin: 99px auto 0;
}

.u-section-4 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1.875rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.45), rgba(255,255,255,0.45)), url("images/2021-08-31151503.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 763px;
}

.u-section-5 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: 39px 0 0;
}

.u-section-5 .u-video-1 {
  width: 565px;
  height: 318px;
  margin: 15px auto 0 0;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-video-2 {
  width: 565px;
  height: 318px;
  margin: -318px 0 50px auto;
}

.u-section-5 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 629px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 482px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
  }

  .u-section-5 .u-video-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
  }

  .u-section-5 .u-video-2 {
    width: 340px;
  }
}