 .u-section-1 {
  min-height: 849px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/vlap-2022-10-29-23h23m33s743.png");
  background-position: 50% 50%;
  min-height: 374px;
  background-size: 140%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-video-1 {
  height: 400px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-image-2 {
  min-height: 374px;
  background-position: 50% 50%;
  background-image: url("images/WindowsSviger1996.png");
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-video-2 {
  height: 400px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-image-3 {
  background-image: url("images/WindowsBorea2004R22004.png");
  background-position: 50% 50%;
  min-height: 374px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-video-3 {
  height: 400px;
  margin: 0 auto;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 423px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 113px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  background-position: 50% 50%;
  min-height: 423px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 126px 10px 0;
}

.u-section-1 .u-text-4 {
  margin: 35px 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 423px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1399px) {
   .u-section-1 {
    min-height: 487px;
  }

  .u-section-1 .u-image-1 {
    min-height: 204px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-video-1 {
    height: 287px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 204px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-video-2 {
    height: 287px;
  }

  .u-section-1 .u-image-3 {
    min-height: 204px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-video-3 {
    height: 287px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 231px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 231px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 231px;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 425px;
  }

  .u-section-1 .u-image-1 {
    min-height: 175px;
  }

  .u-section-1 .u-video-1 {
    height: 243px;
  }

  .u-section-1 .u-image-2 {
    min-height: 175px;
  }

  .u-section-1 .u-video-2 {
    height: 243px;
  }

  .u-section-1 .u-image-3 {
    min-height: 175px;
  }

  .u-section-1 .u-video-3 {
    height: 243px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 198px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 198px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 31px;
  }

  .u-section-1 .u-layout-cell-6 {
    background-position: 50% 50%;
    min-height: 198px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 56px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 27px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 297px;
  }

  .u-section-1 .u-image-1 {
    min-height: 145px;
  }

  .u-section-1 .u-image-2 {
    min-height: 145px;
  }

  .u-section-1 .u-image-3 {
    min-height: 145px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 926px;
  }

  .u-section-1 .u-image-1 {
    min-height: 337px;
  }

  .u-section-1 .u-image-2 {
    min-height: 337px;
  }

  .u-section-1 .u-image-3 {
    min-height: 337px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 758px;
  }

  .u-section-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1 .u-image-2 {
    min-height: 253px;
  }

  .u-section-1 .u-image-3 {
    min-height: 253px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2022-11-07000041.png");
  background-position: 50% 50%;
  min-height: 287px;
}

.u-section-2 .u-text-1 {
  margin: 21px calc(((100% - 2560px) / 2) + 633px) 0 calc(((100% - 2560px) / 2) + 1208px);
}

.u-section-2 .u-video-1 {
  width: 210px;
  height: 118px;
  margin: -102px auto 0 calc(((100% - 2560px) / 2) + 942px);
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-text-2 {
  margin: -16px calc(((100% - 2560px) / 2) + 605px) 44px calc(((100% - 2560px) / 2) + 1208px);
}

@media (max-width: 1399px) {
   .u-section-2 {
    min-height: 157px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-right: calc(((100% - 2560px) / 2) + 563px);
    margin-left: calc(((100% - 2560px) / 2) + 1025px);
  }

  .u-section-2 .u-video-1 {
    margin-top: -98px;
    margin-left: calc(((100% - 2560px) / 2) + 785px);
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: -7px calc(((100% - 2560px) / 2) + 563px) 60px calc(((100% - 2560px) / 2) + 1025px);
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 135px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 33px;
    margin-right: calc(((100% - 2560px) / 2) + 663px);
    margin-left: calc(((100% - 2560px) / 2) + 925px);
  }

  .u-section-2 .u-video-1 {
    margin-top: -79px;
    margin-left: calc(((100% - 2560px) / 2) + 682px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 2560px) / 2) + 663px);
    margin-left: calc(((100% - 2560px) / 2) + 925px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 112px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 21px;
    margin-right: 0;
    margin-left: calc(((100% - 2560px) / 2) + 1023px);
  }

  .u-section-2 .u-video-1 {
    margin-top: -102px;
    margin-left: calc(((100% - 2560px) / 2) + 786px);
  }

  .u-section-2 .u-text-2 {
    margin: -16px calc(((100% - 2560px) / 2) + 773px) 44px calc(((100% - 2560px) / 2) + 1023px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 345px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 145px;
    margin-left: calc(((100% - 2560px) / 2) + 892px);
  }

  .u-section-2 .u-video-1 {
    margin-top: -211px;
    margin-left: calc(((100% - 767px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin: 103px calc(((100% - 2560px) / 2) + 879px) 60px calc(((100% - 2560px) / 2) + 892px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 259px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 2560px) / 2) + 1110px);
    margin-left: 0;
  }

  .u-section-2 .u-video-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 2560px) / 2) + 975px);
    margin-left: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2022-11-06235707.png");
  background-position: 50% 50%;
}

.u-section-3 .u-text-1 {
  margin: 1px auto;
}

@media (max-width: 1399px) {
   .u-section-3 {
    min-height: 80px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 1399px) / 2) + 352px);
  }
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 69px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1199px) / 2) + 252px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 57px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1399px) / 2) + 352px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 44px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 767px) / 2) + 94px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 33px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 575px) / 2) + 56px);
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2022-11-06235533.png");
  background-position: 50% 50%;
}

.u-section-4 .u-text-1 {
  margin: 1px auto;
}

@media (max-width: 1399px) {
   .u-section-4 {
    min-height: 80px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 1399px) / 2) + 133px);
  }
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 69px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 1199px) / 2) + 33px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 57px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 44px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 33px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 56px;
    margin-left: calc(((100% - 1399px) / 2) + 418px);
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2022-11-07000200.png");
  background-position: 50% 50%;
  min-height: 81px;
}

.u-section-5 .u-text-1 {
  margin: 1px auto;
}

@media (max-width: 1399px) {
   .u-section-5 {
    min-height: 80px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 1399px) / 2) + 432px);
  }
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 69px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 1199px) / 2) + 332px);
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 57px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 991px) / 2) + 228px);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 44px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 767px) / 2) + 161px);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 33px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 575px) / 2) + 109px);
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Windows8.1.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-text-1 {
  margin: 1px auto;
}

@media (max-width: 1399px) {
   .u-section-6 {
    min-height: 80px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 1399px) / 2) + 423px);
  }
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 69px;
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 1199px) / 2) + 323px);
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 57px;
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 991px) / 2) + 219px);
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 44px;
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 767px) / 2) + 153px);
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 33px;
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 575px) / 2) + 103px);
  }
}