 .u-section-1 {
  min-height: 181px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 33px auto;
} .u-section-2 {
  min-height: 288px;
}

.u-section-2 .u-image-1 {
  width: 370px;
  height: 278px;
  margin: 17px auto 0 calc(((100% - 2560px) / 2) + 329px);
}

.u-section-2 .u-text-1 {
  line-height: 1.4;
  margin: -169px auto 60px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-image-1 {
    width: 281px;
    height: 211px;
    margin-left: calc(((100% - 1399px) / 2) + 101px);
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 221px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 1199px) / 2) + 101px);
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 226px;
    margin-left: calc(((100% - 1199px) / 2) + 522px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 991px) / 2) + 101px);
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: calc(((100% - 991px) / 2) + 434px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 767px) / 2) + 50px);
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 767px) / 2));
    margin-left: calc(((100% - 767px) / 2) + 333px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 459px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 159px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -346px;
    margin-right: calc(((100% - 575px) / 2));
    margin-left: calc(((100% - 575px) / 2) + 15px);
  }
} .u-section-3 {
  min-height: 225px;
}

.u-section-3 .u-image-1 {
  width: 370px;
  height: 278px;
  margin: -21px auto 0 calc(((100% - 2560px) / 2) + 644px);
}

.u-section-3 .u-text-1 {
  line-height: 1.4;
  font-size: 2rem;
  width: 1913px;
  margin: -191px auto 60px;
}

@media (max-width: 1399px) {
   .u-section-3 {
    min-height: 223px;
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 1399px) / 2) + 644px);
  }

  .u-section-3 .u-text-1 {
    width: 1399px;
  }
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 250px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
    margin-right: calc(((100% - 1199px) / 2) + 41px);
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: 1199px;
    margin-top: -212px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 247px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 1px;
    margin-right: calc(((100% - 991px) / 2) + 41px);
  }

  .u-section-3 .u-text-1 {
    width: 991px;
    margin-bottom: 58px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 481px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 215px;
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin: -453px 50px 60px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 497px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  min-height: 377px;
}

.u-section-4 .u-text-1 {
  line-height: 1.4;
  margin: 40px auto 0;
}

.u-section-4 .u-image-1 {
  width: 402px;
  height: 226px;
  margin: 0 auto;
}

@media (max-width: 1399px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-bottom: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -10px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    margin-top: 0;
  }
} .u-section-5 {
  min-height: 180px;
}

.u-section-5 .u-text-1 {
  line-height: 1.4;
  margin: 35px auto 0;
}

.u-section-5 .u-image-1 {
  width: 450px;
  height: 338px;
  margin: 30px auto 60px;
} .u-section-6 {
  min-height: 274px;
}

.u-section-6 .u-image-1 {
  width: 320px;
  height: 240px;
  margin: 17px auto 0 calc(((100% - 2560px) / 2) + 653px);
}

.u-section-6 .u-text-1 {
  line-height: 1.4;
  margin: -197px calc(((100% - 2560px) / 2) + 408px) 59px calc(((100% - 2560px) / 2) + 990px);
}

@media (max-width: 1399px) {
   .u-section-6 {
    min-height: 283px;
  }

  .u-section-6 .u-image-1 {
    margin-left: calc(((100% - 1399px) / 2) + 143px);
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 1399px) / 2) + 116px);
    margin-left: calc(((100% - 1399px) / 2) + 463px);
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    margin-left: calc(((100% - 1199px) / 2) + 143px);
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 1199px) / 2) + 16px);
    margin-left: calc(((100% - 1199px) / 2) + 481px);
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 496px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 244px;
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    width: 702px;
    margin: -453px auto 60px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 505px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 83px;
    margin-right: 83px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 495px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-7 {
  min-height: 180px;
}

.u-section-7 .u-text-1 {
  line-height: 1.4;
  margin: 35px auto;
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 216px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-8 {
  min-height: 180px;
}

.u-section-8 .u-text-1 {
  line-height: 1.4;
  margin: 35px auto;
} .u-section-9 {
  min-height: 156px;
}

.u-section-9 .u-btn-1 {
  background-image: linear-gradient(to right, #a35559, #92e683);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0px;
  margin: 10px auto 10px calc(((100% - 2560px) / 2) + 853px);
  padding: 30px 19px 30px 18px;
}

@media (max-width: 1399px) {
  .u-section-9 .u-btn-1 {
    margin-left: calc(((100% - 1399px) / 2));
  }
}

@media (max-width: 1199px) {
  .u-section-9 .u-btn-1 {
    margin-left: calc(((100% - 1199px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-btn-1 {
    margin-left: calc(((100% - 991px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-btn-1 {
    margin-left: calc(((100% - 767px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-btn-1 {
    margin-left: calc(((100% - 575px) / 2));
  }
}