.u-section-1 .u-sheet-1 {
  min-height: 132px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  margin: 80px 31px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 192px;
    margin-left: -50px;
    margin-right: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 160px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 156px;
    margin-left: -50px;
    margin-right: -50px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 254px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 409px;
  margin: 0 25px 0 auto;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-size: 1.875rem;
  text-shadow: -2px 1px 3px rgba(255,255,255,1);
  margin: -269px 414px 0 114px;
}

.u-section-2 .u-text-2 {
  margin: -106px auto 60px 114px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -323px;
    margin-right: 260px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -119px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-right: 24px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 114px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 114px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-2 .u-image-1 {
    height: 387px;
    margin-top: 151px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -456px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -121px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-2 .u-image-1 {
    height: 229px;
    margin-top: 117px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -280px;
    margin-right: -65px;
    margin-left: -50px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -76px;
    margin-left: -50px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 357px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 409px;
  margin: -47px -122px 0 auto;
}

.u-section-3 .u-text-1 {
  line-height: 1.2;
  font-size: 1.875rem;
  margin: -222px 414px 0 114px;
}

.u-section-3 .u-text-2 {
  text-shadow: -2px 0px 2px rgba(255,255,255,1);
  margin: -211px auto 60px 114px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -274px;
    margin-right: 310px;
    margin-left: -50px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -196px;
    margin-left: -47px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: -278px;
    margin-right: 124px;
    margin-left: -10px;
  }

  .u-section-3 .u-text-2 {
    margin-left: -10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-3 .u-image-1 {
    width: 615px;
    margin-top: 241px;
    margin-left: -38px;
    margin-right: -38px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -566px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -214px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-3 .u-image-1 {
    height: 226px;
    margin-top: 160px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    margin-top: -325px;
    margin-right: 50px;
    margin-left: -50px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -130px;
    margin-left: -50px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 357px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 409px;
  margin: -67px -218px 0 auto;
}

.u-section-4 .u-text-1 {
  line-height: 1.2;
  font-size: 1.875rem;
  margin: -202px 414px 0 114px;
}

.u-section-4 .u-text-2 {
  text-shadow: -2px 0px 2px rgba(255,255,255,1);
  margin: -175px auto 123px 114px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -204px;
    margin-right: 190px;
    margin-left: 70px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -160px;
    margin-bottom: 60px;
    margin-left: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: -198px;
    margin-right: 114px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -166px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-4 .u-image-1 {
    width: 640px;
    margin-top: 190px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -527px;
    margin-right: -50px;
    margin-left: -40px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -170px;
    margin-left: -40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-4 .u-image-1 {
    height: 217px;
    margin-top: 145px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
    margin-top: -289px;
    margin-left: -50px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -108px;
    margin-left: -50px;
  }
} .u-section-5 {
  min-height: 357px;
}

.u-section-5 .u-image-1 {
  width: calc(((100% - 1140px) / 2) + 432px);
  height: 275px;
  margin: -28px 0 0 auto;
}

.u-section-5 .u-text-1 {
  text-shadow: -2px 0px 2px rgba(255,255,255,1);
  margin: -175px auto 0 calc(((100% - 1140px) / 2) + 113px);
}

.u-section-5 .u-text-2 {
  line-height: 1.2;
  font-size: 1.875rem;
  margin: 15px calc(((100% - 1140px) / 2) + 414px) 60px calc(((100% - 1140px) / 2) + 114px);
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 277px;
  }

  .u-section-5 .u-image-1 {
    width: 512px;
    margin-right: calc(((100% - 1140px) / 2) + 20px);
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -211px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: calc(((100% - 940px) / 2) + 310px);
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    width: 272px;
    height: 204px;
    margin-top: -110px;
    margin-right: calc(((100% - 720px) / 2) + -91px);
  }

  .u-section-5 .u-text-1 {
    margin-top: -55px;
    margin-left: calc(((100% - 720px) / 2) + 20px);
  }

  .u-section-5 .u-text-2 {
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 319px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 63px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: -256px;
    margin-left: calc(((100% - 540px) / 2) + -43px);
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
    margin-right: 0;
    margin-left: calc(((100% - 540px) / 2) + 233px);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 381px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: -334px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    margin: 17px calc(((100% - 340px) / 2)) 115px 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 357px;
}

.u-section-6 .u-image-1 {
  width: 632px;
  height: 474px;
  margin: -117px -171px 0 auto;
}

.u-section-6 .u-text-1 {
  text-shadow: -2px 0px 2px rgba(255,255,255,1);
  margin: -317px auto 0 30px;
}

.u-section-6 .u-text-2 {
  line-height: 1.2;
  font-size: 1.875rem;
  margin: 15px 499px 60px 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -284px;
    margin-left: 18px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 242px;
    margin-left: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    margin-top: -57px;
    margin-right: -162px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -344px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 114px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 357px;
    margin-left: -46px;
    margin-right: -46px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -758px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-6 .u-image-1 {
    height: 255px;
    margin-top: 226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: -477px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 18px;
    margin-right: 72px;
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 255px;
}

.u-section-7 .u-image-1 {
  width: 632px;
  height: 474px;
  margin: 0 -95px 0 auto;
}

.u-section-7 .u-text-1 {
  text-shadow: -2px 0px 2px rgba(255,255,255,1);
  margin: -434px auto 0 30px;
}

.u-section-7 .u-text-2 {
  line-height: 1.2;
  font-size: 1.875rem;
  margin: 15px 499px 40px 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-7 .u-image-1 {
    width: 595px;
    height: 431px;
    margin-right: -64px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -409px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin: 10px 510px 60px 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-7 .u-image-1 {
    height: 432px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-right: -64px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 196px;
    margin-left: -27px;
    margin-right: -27px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -606px;
    margin-left: -33px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 7px;
    margin-left: -32px;
    margin-right: -32px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-7 .u-image-1 {
    height: 247px;
    margin-top: 148px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: -374px;
    margin-left: -50px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 11px;
    margin-right: 50px;
    margin-left: -50px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 255px;
}

.u-section-8 .u-text-1 {
  text-shadow: -2px 0px 2px rgba(255,255,255,1);
  margin: 40px auto 0 30px;
}

.u-section-8 .u-text-2 {
  line-height: 1.2;
  font-size: 1.875rem;
  margin: 15px 570px 40px 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin: 76px 260px 31px 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 18px;
    margin-right: 114px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-bottom: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 20px;
    margin-left: -49px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.125rem;
    margin: 20px -50px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 97px;
}

.u-section-9 .u-btn-1 {
  font-size: 1.875rem;
  margin: 1px auto;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-9 .u-btn-1 {
    margin-top: 0;
  }
}